#test{
    width: 100%;

    background-color: papayawhip;
    border-radius: 25px;
    border: solid 1px black;
    height: 500px
}
#conditionContainer{
    display: inline;
    overflow: auto;
    height: 500px;
    border: 1px #000000 solid;
    padding: 10px;
}

#container{
    height: 50%;
    width: 100%;
    display: flex;
}

#devices{
    width: 25%;
    height: 100%;
    display: block;
}


#if_block{
    margin: 10px 5px 15px 5px;
    width: 80px;
    height: 120px;
    color: #A37104;
    border-radius: 5px;
    border: 3px #E69900 solid;
    background: #ffdd33;
}
#condition_blockj{
    border-radius: 5px;
    margin: 0 5px 15px 5px;
    width: 80px;
    height: 120px;
    background: #33d3e5;
    border: 3px #0099CC solid;
}
.titleCondition{
    text-align: center;
    border: 2px #000000 solid;
}

#arduinoContainer{
    overflow-x: auto;
    margin-right: 3px;
    margin-left: 114px;
    height: 100px;
    border: 1px #000000 solid;
}

.arduino{
    display: inline-block;
    float: left;
    border: 1px #000000 solid;
    margin: 5px;
    width: 80px;
    height: 80px;
}