body {
    margin:0;
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial, serif;
    background-color: #ffffff;
}
#cards {
    margin: 0 auto;
    overflow: auto;
    -webkit-user-select: none;
    -moz-user-select: none;

}

polymer-ui-card {
    background: rgba(238, 238, 238, 0.85);
    display: block;
    height: 360px;
    width: 300px;
    margin: 20px auto;
    padding: 30px;
}