body {
  margin:0;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  background-color: #E5E5E5;
}

a {
  color: #00B7FF;
}

:host {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#core_header_panel {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
#core_toolbar {

  color: rgb(255, 255, 255);
  background-color: #3f51b5;
}
#section {
  /*height: 1000px;*/
  background-color: #E5E5E5;
  overflow-x: auto;
  /*background: linear-gradient(rgb(214, 227, 231), rgb(173, 216, 230));*/
}
#paper_tab {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #3f51b5;
}
.paper_tab::shadow #ink {
  color: rgb(197, 202, 233);

}
.core_icon {
  margin-right: 10px;
}

#tabs {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}
#tabs::shadow #selectionBar {
  height: 2px;
  background-color: #f50057;
}

#house{

  z-index: -1;
  position: relative;
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
#speechInput{
  margin-left: 40px;

}

.logContainer{
  border-radius: 5px;
  width: 80%;
  margin: 7px auto;
  color: #555;
  background-color: #ffffff;
}
.logContainerHour{

  line-height: 20px;
  font-size: 20px;
  text-align: center;
  height: 74px;
  width: 74px;
  border-radius: 90%;
  background: #ddd;
  margin: 5px;
}
.logHours{
  color: #666;
  padding-top: 16px;
}
.logTitle{
  color: #7b7b7b;
  font-size: 22px;
  
}

.logContainerMessage{
  padding: 5px;
  margin-left: 20px;
 }
#newUserContainer{
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  width: 80%;
  background-color: #ffffff;
}


paper-input, paper-input-decorator{
  width: 60%;
}

.settingTitle{
  font-size: 40px;
  color: #5c6bc0;
  padding-bottom: 15px;
}
.settingFields{
  display: inline;
  text-align: right;
  width: 200px;
}
#paper_fab1{
  position: absolute;
  left: 80%;

}
.btHome{
  -moz-user-select: none;
  z-index: 10;
  color:#000000;
  background: #ffffff;
}
.btHomeContainer{
  position: absolute;
}


#paper_fab4{
  z-index: 10;
  position: absolute;
  top: 45%;
  left: 49%;

}
.dialog{
  padding: 10px;
}

speech-mic{
  margin-left: 20px;
  margin-right: 20px;
}
.subMenuContainer{
  margin: 2px;
  padding: 20px;
}

.subMenuTitle{

}
figure{
  position: relative;
}

.core_submenu{
  margin: 2px;
  border-radius: 5px;
  background: #ffffff;
  padding: 10px;
  font-size: 20px;
}

.toggleBt{
  padding-right: 10px;
}
paper-toggle-button::shadow paper-radio-button::shadow #ink[checked] {
  color: #f50057;
}
paper-toggle-button::shadow paper-radio-button::shadow #onRadio {
  background-color: #f50057;
}
paper-toggle-button::shadow #toggleBar[checked] {
  background-color: #f50057;
}
core-submenu::shadow > #submenuItem {
  color: #3f51b5;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 16px;
}
.dropped {
  position: absolute;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 90%;
}
#editButton{
  position: fixed;
  margin-top: 60px;
  margin-left: 88%;
  background-color: #f50057;
}
#listDeviceContainer{
  width: 100%;
}

.edit_element{
  display: none;
}
.btHomeContainer{
  text-align: center;
  width: 70px;
  border-radius: 5px;
  padding: 6px;
}



@media screen and (max-width: 700px) {
  body {


  }
  #editPage{
    display: none;
  }
  .titleTab{
    display: none;
  }
 
}